body {
    margin: 0;
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 14px;
}

span {
    display: inline-block;
}

a{
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 25px;
    width: 100%;
    border-bottom: solid 1px rgb(231, 230, 230);
} 

#header-upper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-left{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 850px; 
}

#logo {
    margin-left: 24px;
}

#searchnav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#searchform{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

#searchbar{
    width: 665px;
    height: 37px;
    font-size: 16px;
    padding: 5px 4px 5px 20px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    color: rgba(0,0,0,.87);
}

#searchbar:hover{
    box-shadow: 0px 0px 5px 1px rgb(228, 228, 228);
}

#searchbar:focus{
    outline: none;
    box-shadow: 0px 0px 5px 1px rgb(228, 228, 228);
}

#buttons{
    display: flex;
    position: absolute;
    right: 18px;
}

.close-color{
    color: #80868b;
    fill: currentColor;
}

.mglas-color{
    color: rgb(66, 133, 244);
    fill: currentColor;
}

#divider {
    border-left: solid rgb(223, 225, 229) 0.8px;
}

.button-width{
    width:24px;
}

.button-spacing {
    margin-left: 10px;
}

nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 7px 0px 0px 170px;
    font-size: 13px;
}

nav a:visited{
    color: #5f6368;
    fill: currentColor;
}



.nav-link{
    display: inline-block;
    position: relative;
    padding: 16px 12px 12px 10px;
    text-align: start;
    color: #5f6368;
}

.selected-nav{
    color: rgb(26, 115, 232);
}

.selected-nav-border{
    border-bottom: solid 2.4px rgb(26, 115, 232);
}

.selected-nav :visited{
    color: rgb(26, 115, 232);
}

.flex-row{
    display: flex;
}

#nav-right{
    margin-left: 20px;
    margin-top: 3px;
}

.symbols-size {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
}

#header-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
}

#apps{
    fill: rgb(95, 99, 104);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 3px;
}

#apps-img{
    position: absolute;
    width: 25px;
    height: 25px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#apps:hover{
    background-color:  rgba(223, 219, 219, 0.5);
}


#konto {
    width: 40px;
    height: 40px;
    position: relative;
    right: 10px;
}

#konto a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#konto img{
    display: inline-block;
    border-radius: 50%;

}

#konto img:hover{
    box-shadow: 0 0 0px 5px rgba(222, 222, 222, 0.5);
}

main {
    margin-left: 180px;
    width: 652px;
}

main a{
    color: rgb(26, 13, 171);
}

main a :hover{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(26, 13, 171);
}

#search-results{
    color: rgb(112, 117, 122);
}

.sr-only{
    width:1px;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.website{
    margin-bottom: 32px;
}

em {
    font-weight: bold;
    font-style: normal; 
}

.link{
    font-size: 20px;
    line-height: 0px;
    font-weight: normal;
}

.domain{
    line-height: 10px;
    color: rgb(32, 33, 36);
}

.page{
    color: rgb(95, 99, 104);
}

.domain:hover, .page:hover{
    text-decoration: none;
}

.date{
    color: rgb(112, 117, 122);
}

.desc{
    margin-top: -5px;
    width: 600px;
    line-height: 22px;
    color: rgb(77, 81, 86);
}

.question-symbol{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    fill: rgb(112, 117, 122);
}

#questions-container{
    width: 652px;
    color: rgb(32, 33, 36);
    margin-bottom: 40px;
}

#questions-title{
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    line-height: 26px;
}

.question-container{
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px rgba(204, 200, 200, 0.4);
    font-size: 16px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.hover:hover{
    text-decoration: underline;
}

.hover em:hover{
    text-decoration-thickness: 1px;
}

#requests-container{
    font-size: 16px;
}

.request-container{
    display: flex;
    justify-content: space-between;
}

#requests-container a{
    color: rgba(0,0,0,.87);
}

#requests-container a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#requests-container a em:hover{
    text-decoration-thickness: 1px;
}

#requests-container h3{
    font-weight: normal;
}

.request{
    display: flex;
    justify-content: start;
    align-items: center;
    width:315px;
    height: 45px;
    border-radius: 30px;
    background-color: rgb(241, 243, 244);
    margin-bottom: 8px;
}

.request-container a{
    max-width: 227px;
}

.mg{
    width: 20px;
    height: 20px;
    fill: rgba(0,0,0,.54);
    padding: 0 25px;
}

#G{
    width: 28px;
    height: 50px;
    background: url("/images/nav_logo.webp") -24px 0/167px;
    position: relative;
    left: 2px;
}

.sel-o {
    width: 20px;
    height: 20px;
    background: url("/images/nav_logo.webp") -52px -10px/167px;
    padding-bottom: 10px;
}

.cont-o{
    width: 20px;
    height: 40px;
    margin: 0 0.5px;
    text-align: center;
}

.o {
    width: 20px;
    height: 20px;
    background: url("/images/nav_logo.webp") -75px -10px/167px;
    text-align: center;
    padding-bottom: 10px;

}

#gle{
    width: 99px;
    height: 40px;
    padding-bottom: 0px;
    background: url("/images/nav_logo.webp") -96px 0px/167px no-repeat;
    position: relative;
    right: 4px
}

#cont-gle{
    width: 99px;
    height: 50px;
    margin: 0 3px;
    text-align: right;
}

#google {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
    
}

#google a {
    color:rgb(66, 133, 244);
}

#google a:hover {
    text-decoration: underline;
}

footer{
    background-color: rgb(242, 242, 242);
    color: rgba(0, 0, 0, 0.54);
}

footer a:visited{
    color: rgba(0, 0, 0, 0.54);
}

footer a{
    color: rgba(0, 0, 0, 0.54);
}

footer a:hover{
    color: rgba(0, 0, 0, 0.84);
}

#footer-upper{
    margin-top: 40px;
    padding: 5px 0 5px 153px;
    border-top: solid 1px rgb(218, 218, 218);
    border-bottom: solid 1px rgb(218, 218, 218);
}

#footer-lower{
    padding: 15px 0 15px 153px;
}

#country{
    border-right: solid 1px rgb(218, 218, 218);
    padding: 7px 15px 7px 27px;
}

#ball{
    height: 10.5px;
    width: 10.5px;
    border-radius: 100%;
    background-color: #5f6368;
    margin-left: 10px;
    margin-right: 2px;
}

#city{
    color: rgba(0, 0, 0, 0.69);
}

.pad{
    padding-left: 27px;
}