body {
    margin: 0;
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 14px;
}

span {
    display: inline-block;
}

a{
    text-decoration: none;
}

#container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto 700px 1fr ;
    grid-template-areas: 
    "header header  header"
    ". main . "
    "footer footer footer ";
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 25px;
    width: 100%;
    border-bottom: solid 1px rgb(231, 230, 230);
} 

#header-upper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#header-left{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 850px; 
}

#logo {
    margin-left: 24px;
}

#searchnav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#searchform{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

#searchbar{
    width: 665px;
    height: 37px;
    font-size: 16px;
    padding: 5px 4px 0 20px;
    border-radius: 25px;
    border: 1px solid #dfe1e5
}

#searchbar:hover{
    box-shadow: 0px 0px 5px 1px rgb(228, 228, 228);
}

#searchbar:focus{
    outline: none;
    box-shadow: 0px 0px 5px 1px rgb(228, 228, 228);
}

#buttons{
    display: flex;
    position: absolute;
    right: 18px;
}

.close-color{
    color: #80868b;
    fill: currentColor;
}

.mglas-color{
    color: rgb(66, 133, 244);
    fill: currentColor;
}

#divider {
    border-left: solid rgb(223, 225, 229) 0.8px;
}

.button-width{
    width:24px;
}

.button-spacing {
    margin-left: 10px;
}

nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 7px 0px 0px 170px;
    font-size: 13px;
    color: #5f6368;
}

nav a:visited{
    color: #5f6368;
    fill: currentColor;
}

.selected-nav{
    color: rgb(26, 115, 232);
    border-bottom: solid 2.4px rgb(26, 115, 232);
}

.selected-nav :visited{
    color: rgb(26, 115, 232);
}

.nav-link-distance{
    line-height: 16px;
}

.nav-link{
    display: inline-block;
    position: relative;
    padding: 16px 12px 12px 10px;
    text-align: start;
}

.flex-row{
    display: flex;
}

#nav-right{
    margin-left: 20px;
    margin-top: 3px;
}

.symbols-size {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
}

#header-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
}

#apps{
    fill: rgb(95, 99, 104);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 3px;
}

#apps-img{
    position: absolute;
    width: 25px;
    height: 25px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#apps:hover{
    background-color:  rgba(223, 219, 219, 0.5);
}


#konto {
    width: 40px;
    height: 40px;
    position: relative;
    right: 10px;
}

#konto a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 50px;
}

#konto img{
    display: inline-block;
    border-radius: 50%;

}

#konto img:hover{
    box-shadow: 0 0 0px 5px rgba(222, 222, 222, 0.5);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}